<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetStoreSuite">
	
	<listeners>
		<listener class-name="api.utilities.ExtentReportManager" />
	</listeners>
	
  <test thread-count="5" name="PetStoreTest">
    <classes>
      <class name="api.test.UserTests"/>
      <class name="api.test.UserTests_By_Using_PropertiesFile"/>
     <!-- <class name="api.test.DDTests"/>-->
    </classes>
  </test> <!-- PetStoreTest -->
</suite> <!-- PetStoreSuite -->
